<div class="card my-4">
  <div class="card-body">
    <h5 class="card-title"><%= @blog.title %></h5>
    <div>
      <%= link_to '編集', edit_blog_path(@blog) %>
      <%= link_to '削除', blog_path(@blog), method: :delete, data: { confirm: '削除でよいか？' } %>
    </div>
    <%= simple_format @blog.content, class: 'card-text' %>
  </div>
</div>
